<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoduopin.dao.ShareBillMapper">
    <insert id="insertShareBill">
        insert into share_bill(user_id, type, description, address, time, cur_people, max_people, price, latitude,
                               longitude, geohash)
        VALUES (#{userId}, #{type}, #{description}, #{address}, #{time}, #{curPeople}, #{maxPeople}, #{price},
                #{latitude}, #{longitude},
                #{geohash})
    </insert>
    <delete id="deleteShareBill">
        delete
        from share_bill
        where bill_id = #{billId}
    </delete>
    <select id="getShareBillsByUserId" resultType="com.duoduopin.bean.ShareBill">
        select *
        from share_bill
        where user_id = #{userId}
    </select>
    <select id="getShareBillByBillId" resultType="com.duoduopin.bean.ShareBill">
        select *
        from share_bill
        where bill_id = #{billId}
    </select>
    <select id="getUserIdByBillId" resultType="java.lang.Long">
        select user_id
        from share_bill
        where bill_id = #{billId}
    </select>
    <select id="getShareBillsBySearchInfo" resultType="com.duoduopin.bean.ShareBill">
        select *
        from share_bill
        <where>
            <if test="type != null">type = #{param1}</if>
            <if test="descriptions != null">and (
                <foreach collection="descriptions" item="desc">
                    description like concat('%', #{desc}, '%') or
                </foreach>
                1=0)
            </if>
            <if test="startTime != null and endTime != null">and (time between #{startTime} and #{endTime})</if>
            <if test="minPrice != null and maxPrice != null">and (price between #{minPrice} and #{maxPrice})</if>
            <if test="distance != null">
                and (
                <foreach collection="geohashs" item="hash">
                    geohash like concat(#{hash}, '%') or
                </foreach>
                1=0)
            </if>
        </where>
    </select>
</mapper>