<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoduopin.dao.ShareBillMapper">
    <insert id="insertShareBill" parameterType="com.duoduopin.bean.ShareBill" useGeneratedKeys="true"
            keyProperty="billId">
        insert into share_bill(user_id, title, type, description, address, time, cur_people, max_people, price,
                               latitude,
                               longitude, geohash)
        VALUES (#{userId}, #{title}, #{type}, #{description}, #{address}, #{time}, #{curPeople}, #{maxPeople}, #{price},
                #{latitude}, #{longitude},
                #{geohash})
    </insert>
    <update id="updateShareBillCurPeople">
        update share_bill
        set cur_people = #{curPeople}
        where bill_id = #{billId}
    </update>
    <delete id="deleteShareBill">
        delete
        from share_bill
        where bill_id = #{billId}
    </delete>
    <select id="getShareBillsByUserId" resultType="com.duoduopin.bean.ShareBill">
        select bill_id,
               user_id,
               type,
               description,
               address,
               time,
               cur_people,
               max_people,
               price,
               longitude,
               latitude,
               geohash
        from share_bill
        where user_id = #{userId}
    </select>
    <select id="getShareBillByBillId" resultType="com.duoduopin.bean.ShareBill">
        select bill_id,
               user_id,
               type,
               description,
               address,
               time,
               cur_people,
               max_people,
               price,
               longitude,
               latitude,
               geohash
        from share_bill
        where bill_id = #{billId}
    </select>
    <select id="getUserIdByBillId" resultType="java.lang.Long">
        select user_id
        from share_bill
        where bill_id = #{billId}
    </select>
    <select id="getShareBillsBySearchInfo" resultType="com.duoduopin.bean.ShareBill">
        select bill_id,
        user_id,
        type,
        description,
        address,
        time,
        cur_people,
        max_people,
        price,
        longitude,
        latitude,
        geohash
        from share_bill
        <where>
            <if test="type != null">type = #{type}</if>
            <if test="descriptions != null">and (
                <foreach collection="descriptions" item="desc">
                    title like concat('%', #{desc}, '%') or
                </foreach>
                <foreach collection="descriptions" item="desc">
                    description like concat('%', #{desc}, '%') or
                </foreach>
                1=0)
            </if>
            <if test="startTime != null and endTime != null">and (time between #{startTime} and #{endTime})</if>
            <if test="minPrice != null and maxPrice != null">and (price between #{minPrice} and #{maxPrice})</if>
            <if test="distance != null">
                and (
                <foreach collection="geohashs" item="hash">
                    geohash like concat(#{hash}, '%') or
                </foreach>
                1=0)
            </if>
        </where>
    </select>
    <select id="getLastInsertId" resultType="java.lang.Long">
        select LAST_INSERT_ID()
    </select>
    <select id="getShareBillPeopleByBillId" resultType="com.duoduopin.bean.ShareBill">
        select bill_id, user_id, cur_people, max_people
        from share_bill
        where bill_id = #{billId}
    </select>
    <select id="getTitleByBillId" resultType="java.lang.String">
        select title
        from share_bill
        where bill_id = #{billId}
    </select>
</mapper>